version: 2
updates:
  # Backend dependencies
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "09:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(backend)"
      include: "scope"
    labels:
      - "dependencies"
    ignore: []
  
  # Frontend dependencies
  - package-ecosystem: "npm"
    directory: "/billook"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "09:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(frontend)"
      include: "scope"
    labels:
      - "dependencies"
    ignore: []

